<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="white">
    <color rgba="0.95 0.95 0.95 1.0"/>
  </material>

  <xacro:macro name="crane_plus"
      params="parent
              name_link_base
              name_link_1
              name_link_2
              name_link_3
              name_link_4
              name_link_hand
              name_joint_base
              name_joint_1
              name_joint_2
              name_joint_3
              name_joint_4
              name_joint_hand
              joints_elimit
              joints_vlimit
              joint_1_lower_limit
              joint_1_upper_limit
              joint_2_lower_limit
              joint_2_upper_limit
              joint_3_lower_limit
              joint_3_upper_limit
              joint_4_lower_limit
              joint_4_upper_limit
              joint_hand_lower_limit
              joint_hand_upper_limit
              *origin">

    <joint name="${name_joint_base}" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name_link_base}"/>
    </joint>

    <link name="${name_link_base}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/visual/body_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/collision/body_collision_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </collision>

      <inertial>
        <mass value="6.39E-02"/>
        <origin xyz="-1.30E-02 2.60E-05 2.20E-02" rpy="0 0 0"/>
        <inertia ixx="1.76E-05" ixy="1.33E-08" ixz="-4.74E-07" iyy="2.22E-05" iyz="-7.85E-09" izz="1.94E-05"/>
      </inertial>
    </link>

    <joint name="${name_joint_1}" type="revolute">
      <origin xyz="0 0 0.0454" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${joints_elimit}"
        velocity="${joints_vlimit}"
        lower="${joint_1_lower_limit}"
        upper="${joint_1_upper_limit}"
        />
      <parent link="${name_link_base}"/>
      <child link="${name_link_1}"/>
      <dynamics damping="1.0e-6" friction="2.0e-1"/>
    </joint>

    <link name="${name_link_1}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/visual/Link1_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="white"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/collision/Link1_collision_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="white"/>
      </collision>

      <inertial>
        <mass value="8.10E-03"/>
        <origin xyz="2.00E-06 9.96E-04 1.44E-02" rpy="0 0 0"/>
        <inertia ixx="3.68E-06" ixy="1.80E-11" ixz="1.79E-10" iyy="1.39E-06" iyz="-1.16E-07" izz="3.22E-06"/>
      </inertial>
    </link>

    <joint name="${name_joint_2}" type="revolute">
      <origin xyz="0 0 0.026" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit
        effort="${joints_elimit}"
        velocity="${joints_vlimit}"
        lower="${joint_2_lower_limit}"
        upper="${joint_2_upper_limit}"
        />
      <parent link="${name_link_1}"/>
      <child link="${name_link_2}"/>
      <dynamics damping="1.0e-6" friction="2.0e-1"/>
    </joint>

    <link name="${name_link_2}">
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/visual/Link2_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/collision/Link2_collision_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </collision>

      <inertial>
        <mass value="1.16E-01"/>
        <origin xyz="1.00E-06 1.07E-03 4.15E-02" rpy="${M_PI/2} 0 0"/>
        <inertia ixx="1.23E-04" ixy="6.83E-08" ixz="1.12E-10" iyy="1.88E-05" iyz="0.0" izz="1.17E-04"/>
      </inertial>
    </link>

    <joint name="${name_joint_3}" type="revolute">
      <origin xyz="0 0 0.083" rpy="0 0 0"/>
      <axis xyz="0 -1 0"/>
      <limit
        effort="${joints_elimit}"
        velocity="${joints_vlimit}"
        lower="${joint_3_lower_limit}"
        upper="${joint_3_upper_limit}"
        />
      <parent link="${name_link_2}"/>
      <child link="${name_link_3}"/>
      <dynamics damping="1.0e-6" friction="2.0e-1"/>
    </joint>

    <link name="${name_link_3}">
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/visual/Link3_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="white"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/collision/Link3_collision_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="white"/>
      </collision>

      <inertial>
        <mass value="7.23E-02"/>
        <origin xyz="-1.38E-04 6.46E-04 6.96E-02" rpy="${M_PI/2} 0 0"/>
        <inertia ixx="5.57E-05" ixy="-2.23E-07" ixz="-2.71E-09" iyy="1.60E-05" iyz="-1.31E-06" izz="4.85E-05"/>
      </inertial>
    </link>

    <joint name="${name_joint_4}" type="revolute">
      <origin xyz="0 0 0.0935" rpy="0 0 0"/>
      <axis xyz="0 -1 0"/>
      <limit
        effort="${joints_elimit}"
        velocity="${joints_vlimit}"
        lower="${joint_4_lower_limit}"
        upper="${joint_4_upper_limit}"
        />
      <parent link="${name_link_3}"/>
      <child link="${name_link_4}"/>
      <dynamics damping="1.0e-6" friction="2.0e-1"/>
    </joint>

    <link name="${name_link_4}">
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/visual/Link4_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/collision/Link4_collision_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </collision>

      <inertial>
        <mass value="8.19E-02"/>
        <origin xyz="6.68E-04 1.96E-02 4.60E-02" rpy="${M_PI/2} -${M_PI/2} 0"/>
        <inertia ixx="3.60E-05" ixy="4.94E-08" ixz="1.34E-05" iyy="6.00E-05" iyz="-5.15E-07" izz="4.04E-05"/>
      </inertial>
    </link>

    <joint name="${name_joint_hand}" type="revolute">
      <origin xyz="0 -0.0145 0.045" rpy="0 0 0"/>
      <axis xyz="-1 0 0"/>
      <limit
        effort="${joints_elimit}"
        velocity="${joints_vlimit}"
        lower="${joint_hand_lower_limit}"
        upper="${joint_hand_upper_limit}"
        />
      <parent link="${name_link_4}"/>
      <child link="${name_link_hand}"/>
      <dynamics damping="1.0e-6" friction="2.0e-1"/>
    </joint>

    <link name="${name_link_hand}">
      <visual>
        <origin xyz="0 0 0" rpy="0 -${M_PI/2} 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/visual/Hand_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="white"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 -${M_PI/2} 0"/>
        <geometry>
          <mesh filename="package://urdf_seminar/meshes/collision/Hand_collision_20201013.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="white"/>
      </collision>

      <inertial>
        <mass value="2.33E-02"/>
        <origin xyz="4.77E-04 -2.01E-02 2.73E-02" rpy="0 -${M_PI/2} 0"/>
        <inertia ixx="6.09E-06" ixy="2.38E-07" ixz="2.20E-07" iyy="2.80E-05" iyz="1.62E-07" izz="2.57E-05"/>
      </inertial>
    </link>

  </xacro:macro>
</robot>
